# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan
*.tfstate
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
